public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@types*
enable-pre-post-scripts=true

//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}
registry=https://registry.npmjs.org/
always-auth=true
